body {
    background-color: #eae2b7;
    margin: 16px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fcbf49;
    padding: 50px;
}
h1 {
    font-family: 'Courier New', monospace;
    color: #003049;
    text-align: center;
}
h2 {
    color:#d62828
}
h3 {
    color:#f77f00;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto
}

li {
    margin-bottom: 7px;
}

ul li {
    list-style-type: circle;
}
.recipes {
    list-style: none;
    text-align: center;
}
.recipes p {
    margin: 7px 0px;
}

ul {
    background-color: bisque;
    padding: 10px 10px 0px;
    padding-left: 27px;
    border: 5px solid #f77f00;
}